extends ../layout

block content
    h1 Attributes

    h2 Multiline Attributes

    input(
        type='checkbox'
        name='agreement'
        checked
    )
    |  multiline attributes

    h2 Quoted Attributes

    p If your attribute name contains odd characters that might interfere with JavaScript syntax, either quote it using "" or '', or use commas to separate different attributes. Examples of such characters include [] and ()

    div(class='div-class', click='play()')
    div(class='div-class' '(click)'='play()')

    h2 Attribute Interpolation

    p 1. Simply write the attribute in JavaScript:

    - var url = 'pug-test.html';
    a(href='/' + url) Link
    |
    |
    - url = 'https://example.com/'
    a(href=url) Another link

    p 2. If your JavaScript runtime supports ES2015 template strings (including Node.js/io.js 1.0.0 and later), you can also use its syntax to simplify your attributes:

    - var btnType = 'info'
    - var btnSize = 'lg'
    button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) Button 1
    |
    |
    button(type='button' class=`btn btn-${btnType} btn-${btnSize}`) Button 2

    h2 Unescaped Attributes

    div(escaped="<code>")
    div(unescaped!="<code>")

    h2 Boolean Attributes

    p By default, all attributes are escaped—that is,special characters are replaced with escape sequences—to prevent attacks (such as cross site scripting). If you need to use special characters, use != instead of =.

    input(type='checkbox' checked)
    | Test
    |
    |
    input(type='checkbox' checked=true)
    | Test
    |
    |
    input(type='checkbox' checked=false)
    | Test
    |
    |
    input(type='checkbox' checked=true.toString())
    | Test

    h2 Style Attributes

    a(style={color: 'red', background: 'green'})

    h2 Class Attributes

    p The class attribute can be a string, like any normal attribute; but it can also be an array of class names, which is handy when generated from JavaScript.

    - var classes = ['foo', 'bar', 'baz']
    a(class=classes)
    |
    |
    //- the class attribute may also be repeated to merge arrays
    a.bang(class=classes class=['bing'])

    p It can also be an object which maps class names to true or false values. This is useful for applying conditional classes

    - var currentUrl = '/about'
    a(class={active: currentUrl === '/'} href='/') Home
    |
    |
    a(class={active: currentUrl === '/about'} href='/about') About

    h2 Class Literal

    a.button

    p Since div's are such a common choice of tag, it is the default if you omit the tag name:

    .content

    h2 ID Literal

    a#main-link

    p Since div's are such a common choice of tag, it is the default if you omit the tag name:

    #content